<br /><br />
<div class="row">
	<form [formGroup]="tenantForm">
		<div class="form-group" *ngIf="isEdit">
			<label for="id" class="control-label">Id</label>
			<input type="text" class="form-control" formControlName="id" disabled id="id">
		</div>

		<div class="form-group">
			<label for="name" class="control-label">Name</label>
			<input type="text" class="form-control" formControlName="name" id="name">
		</div>

		<div class="form-group">
			<label for="active" class="control-label">Active</label>
			<input type="checkbox" formControlName="active" class="form-control" id="active">
		</div>
		
		<div class="row">
			<button class="btn btn-default" [disabled]="!tenantForm.valid" *ngIf="!isEdit" (click)="add()">Add</button>
			<button class="btn btn-default" [disabled]="!tenantForm.valid" *ngIf="isEdit" (click)="edit()">Save</button>
			&nbsp;
			<button class="btn btn-default" [routerLink]="['/tenants']">Cancel</button>
		</div>
	</form>
</div>