<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Address</td>
      <td>City</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let office of (offices | async)">
      <td>{{office.id}}</td>
      <td>{{office.name}}</td>
      <td>{{office.address}}</td>
      <td>{{office.city.name}}</td>
      <td>
        <button class="btn btn-default" [routerLink]="['/offices', office.id, 'edit']">Edit</button>
		<button class="btn btn-danger" (click)="deleteOffice(office)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-default" [routerLink]="['/offices', 'add']">Add</button>
<router-outlet></router-outlet>
