<br />
<br />
<div class="row">
	<form [formGroup]="officeForm">
		<div class="form-group">
			<label for="id" class="control-label">Id</label>
			<input type="text" class="form-control" formControlName="id" id="id" *ngIf="isEdit">
		</div>

		<div class="form-group">
			<label for="name" class="control-label">Name</label>
			<input type="text" class="form-control" formControlName="name" id="name">
		</div>

		<div class="form-group">
			<label for="address" class="control-label">Address</label>
			<input type="text" class="form-control" formControlName="address" id="address">
		</div>

		<div class="form-group">
			<label for="cities" class="control-label">City</label>
			<select formControlName="city" id="cities" required class="form-control">
				<option [ngValue]="city" *ngFor="let city of cities | async" [attr.selected]="officeForm.value.city && city && city.id === officeForm.value.city.id">
					{{city.name}}
				</option>
			</select>
		</div>

		<div class="form-group">
			<label for="active" class="control-label">Active</label>
			<input type="checkbox" formControlName="active" class="form-control" id="active">
		</div>

		<div class="row">
			<button class="btn btn-default" [disabled]="!officeForm.valid" *ngIf="!isEdit" (click)="add()">Add</button>
			<button class="btn btn-default" [disabled]="!officeForm.valid" *ngIf="isEdit" (click)="edit()">Save</button>
			&nbsp;
			<button class="btn btn-default" [routerLink]="['/offices']">Cancel</button>
		</div>
	</form>
</div>